<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Contact</title>
</head>

<body>
	<section>
		<h1>This is Contact</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias debitis perferendis molestiae temporibus aperiam quas culpa illo velit repellat tempore delectus veritatis at expedita distinctio esse enim quo praesentium eaque!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos iste in quos laboriosam dolor sit nesciunt quibusdam nostrum placeat provident veritatis ipsum voluptatum ex doloribus atque vero magni a rem sunt mollitia obcaecati adipisci nobis sed molestiae. Maiores dignissimos consequatur id vitae amet corrupti deserunt assumenda placeat voluptates reiciendis magnam dolor aliquid possimus hic laboriosam accusantium cupiditate incidunt voluptate deleniti a velit esse distinctio repellendus saepe rerum omnis officiis beatae provident ex ullam eligendi autem eius sint. Eligendi quis fugit doloribus hic officia ex id omnis recusandae nemo aspernatur. Ad doloremque enim sunt tenetur rem delectus sit quis asperiores.</p>
	</section>
</body>

</html>